.col-md-4
  .thumbnail
    .img
      = form_for @order_item, remote: true do |f|
        .input-group-btn
          = f.hidden_field :product_id, value: product.id
          = f.submit "Add to Cart", class: "btn btn-primary"
      = image_tag "product#{Random.new.rand(8)}"
    .caption.caption-up
      %h3= link_to product.name, product_path(product)
      %h4= product.timestamp
      %h4= truncate(strip_tags(product.description), length: 60)
